# ==========================================
# CẤU HÌNH CỔNG THANH TOÁN VNPAY SANDBOX
# ==========================================
VNP_TMN_CODE=your_vnp_tmn_code
VNP_HASH_SECRET=your_vnp_hash_secret

# ==========================================
# CẤU HÌNH GỬI EMAIL THÔNG BÁO HÓA ĐƠN
# ==========================================
RESEND_API_KEY=re_your_resend_api_key
RESEND_FROM=onboarding@resend.dev

MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_16_digit_app_password
